@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #f8f8f8;
}

.select-ant-none-radius .ant-select-selector {
    border-radius   : 0 !important;
    border          : none !important;
    box-shadow      : none !important;
    background-color: #eee !important;
}

.custom-submenu .ant-menu-sub {
    position: relative;
}

.custom-submenu {
    width   : 100vw !important;
    position: absolute;
    left    : 0 !important;
}

.custom-submenu .ant-menu-sub::before {
    content      : "";
    position     : absolute;
    top          : -10px;
    left         : 15px;
    border-left  : 8px solid transparent;
    border-right : 8px solid transparent;
    border-bottom: 8px solid white;
}

.submenu-horizontal .ant-menu-sub {
    width         : 100% !important;
    min-width     : auto !important;
    display       : flex !important;
    flex-direction: row !important;
    gap           : 16px;
    padding       : 10px 0 !important;
    padding-bottom: 20px !important;
    box-shadow    : 0 10px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.submenu-horizontal .ant-menu-item,
.submenu-horizontal .ant-menu-submenu {
    margin     : 0 !important;
    padding    : 8px 12px;
    display    : flex !important;
    align-items: center !important;
}

.submenu-horizontal .ant-menu-sub {
    box-shadow: none;
}

.course_custome ul,
li {
    height: 100% !important;

    img {
        border-radius: 10px;
    }
}

.custom_more {
    width   : 100vw !important;
    position: absolute;
    left    : 0 !important;
}

.pc-hidden {
    display: none !important;
}

.mobile-hidden {
    display: block !important;
}

@media (max-width: 576px) {
    .pc-hidden {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .max-h-100 {
        max-height: 420px !important;
    }

    .mobile_custom {
        flex-direction : column !important;
        justify-content: center !important;
        align-items    : unset !important;
        gap            : 50px !important;
    }

    .mb-150-cus {
        margin-bottom: 150px !important;
    }
}

.custom_card .custom {
    width: 210px;

    img {
        width : 100% !important;
        height: 200px;
    }

    .custom_level_2 {
        width : 100% !important;
        height: 200px;
    }
}